on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # Include asciidoctor-action and run the cli tool
    - uses: mgred/asciidoctor-action@master
      with:
        args: asciidoctior README.adoc
